body#login{
    background-color: rgb(39, 39, 39);
    background-image: url("../img/background2.png");
    background-repeat: repeat;
}
body#registro{
    background-color: rgb(39, 39, 39);
    background-image: url("../img/background2.png");
    background-repeat: repeat;
    }
    body#index{
        background-color: rgb(39, 39, 39);
        background-image: url("../img/background2.png");
        background-repeat: repeat;
        }



#logo-row{
    padding-top: 20%;
    padding-bottom: 2%;
}

#logo-img{
    max-width: 50%;
    background-color: rgb(17, 17, 17) !important;
    border-radius: 25px;
    padding: .5%;
}

.nav-icon{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(68deg) brightness(104%) contrast(101%);
}

.nav-pills .nav-link {
    color: #1a2530; 
}

.navbar-nav .nav-link.active,.navbar-nav .nav-link.show {
    color: #fe6a00;
}

.nav-link:focus,.nav-link:hover {
    color: #fe6a00;
}

a {
    color: #fe6a00;
}

.btn-link {
    color:#1a2530;
}

.btn-check:checked+.btn,.btn.active,.btn.show,.btn:first-child:active,:not(.btn-check)+.btn:active,.btn-link:hover {
    color: #fe6a00;
}

.color-ferremas{
    background-color: #fe6a00;
}

.font-min{
    font-size: small !important;
}
